{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}

    <div class="row justify-content-center text-center">
        <h1 class="mb-4 col-12">Category index</h1>
        <a class="col-6 btn btn-primary mb-4" href="{{ path('category_new') }}">Create new</a>
    </div>

    <table class="table table-hover">
        <thead class="table-danger">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <a class="col-3 btn btn-outline-primary"
                       href="{{ path('category_show', {'id': category.id}) }}">show</a>
                    <a class="col-3 btn btn-outline-primary"
                       href="{{ path('category_edit', {'id': category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no category found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
