{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}


{% block body %}

    <h1 class="mt-5">{{ category.name }}</h1>

    {% for article in articles %}

        <div class="card my-2">
            <h5 class="card-header">Article's title : {{ article.title }}</h5>
            <div class="card-body">
                <p class="card-text">{{ article.content }}</p>
            </div>
            <div class="card-footer">
                {% for tag in article.tags %}
                    <a href="{{ path('tag_show', {'name': tag.name}) }}" class="badge badge-pill badge-danger">{{ tag.name }}</a>

                {% else %}
                    <p class="text-danger m-0">No tags</p>
                {% endfor %}
            </div>
        </div>

    {% endfor %}
    <a href="{{ path('app_index') }}">
        <button type="button" class="btn btn-primary">Back to homepage.</button>
    </a>

{% endblock %}