{# templates/blog/show.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}


{% block body %}

    <h1>{{ category.name }}</h1>

    {% for article in articles %}

    <div>
        <h2>Article's title : {{ article.title }}</h2>
        <p>{{ article.content }}</p>
    </div>

    <a href="{{ path('app_index') }}">
        Back to homepage.
    </a>

    {% endfor %}

{% endblock %}