{# templates/blog/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}All articles{% endblock %}

{% block body %}
    <h1 class="mb-5">All articles from article's table : </h1>

    {{ form_start(form) }}
    {{ form_row(form.searchField) }}
    <button type="submit" class="btn btn-outline-primary" name="btnSearch">Search</button>
    {{ form_end(form) }}

    {% for article in articles %}
        <div class="card my-4">
            <h5 class="card-header">{{ loop.index }} / {{ article.title }}</h5>
            <div class="card-body">
                <h5 class="card-title">Category : {{ article.category.name }}</h5>
                <p class="card-text">{{ article.content }}</p>
                {% if article.author.email is defined %}
                    <footer class="blockquote-footer">Author: <cite
                                title="Source Title">{{ article.author.email }}</cite></footer>
                {% endif %}
            </div>
            <div class="card-footer">
                {% for tag in article.tags %}
                    <a href="{{ path('article_showByTag', {'name': tag.name}) }}"
                       class="tags badge badge-pill badge-danger mt-2">{{ tag.name }}</a>

                {% else %}
                    <p class="text-danger m-0">No tags</p>
                {% endfor %}
                <a onclick="addToFavorite('{{ path('blog_favorite', {'id': article.id}) }}', {{ article.id }})">
                    {% if app.user %}
                        {% if app.user.isFavorite(article) %}
                            <i id="favorite{{ article.id }}" class="fas fa-heart"></i>
                        {% else %}
                            <i id="favorite{{ article.id }}" class="far fa-heart"></i>
                        {% endif %}
                    {% endif %}
                </a>
                <div class="float-right edit-author">
                    {% if is_granted('ROLE_AUTHOR') %}
                        <a href="{{ path('article_edit', { 'id': article.id} ) }}"
                           class="btn btn-outline-primary">Edit</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% else %}
        <p class="text-center text-danger display-4">Aucun articles trouvés.</p>
    {% endfor %}

    <div class="row">

        <div class="col-12 my-2">
            <a href="{{ path('app_index') }}">
                <button type="button" class="btn btn-primary">Back to homepage.</button>
            </a>
        </div>

    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        function addToFavorite(url, articleId) {
            fetch(url)
                .then(response => response.json())
                .then(json => {
                    let favoriteElt = document.getElementById('favorite' + articleId);
                    if (json.isFavorite) {
                        favoriteElt.classList.remove('far');
                        favoriteElt.classList.add('fas');
                    } else {
                        favoriteElt.classList.remove('fas');
                        favoriteElt.classList.add('far');
                    }
                });
        }
    </script>
{% endblock %}