{# templates/blog/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}All articles{% endblock %}

{% block body %}
    <h1 class="mb-5">All articles from article's table : </h1>

    {{ form_start(form) }}
    {{ form_row(form.searchField) }}
    <button type="submit" class="btn btn-outline-primary" name="btnSearch">Search</button>
    {{ form_end(form) }}

    {% for article in articles %}
        <div class="card my-4">
            <h5 class="card-header">{{ loop.index }} / {{ article.title }}</h5>
            <div class="card-body">
                <h5 class="card-title">Category : {{ article.category.name }}</h5>
                <p class="card-text">{{ article.content }}</p>
            </div>
            <div class="card-footer">
                {% for tag in article.tags %}
                    <a href="{{ path('tag_show', {'name': tag.name}) }}" class="badge badge-pill badge-danger">{{ tag.name }}</a>

                {% else %}
                    <p class="text-danger m-0">No tags</p>
                {% endfor %}
            </div>
        </div>
    {% else %}
        Aucun article trouvé.
    {% endfor %}

    <div class="row">

    <div class="col-12 my-2">
    <a href="{{ path('app_index') }}"><button type="button" class="btn btn-secondary">Back to homepage.</button></a>
    </div>

    <div class="col-12 my-2">
    <a href="{{ path('blog_show', { 'slug': "javascript-vs-php" }) }}">
        <button type="button" class="btn btn-secondary">Testing show() method from BlogController with a real article s slug.</button>
    </a>
    </div>

    <div class="col-12 my-2">
    <a href="{{ path('blog_index') }}">
        <button type="button" class="btn btn-secondary"> Testing index() method from BlogController to view all articles.</button>
    </a>
    </div>

    </div>
{% endblock %}