{# templates/blog/show.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ slug }}{% endblock %}

{% block body %}

        <h1>Real article's title : {{ article.title }}</h1>

    <div class="card my-2">
        <h5 class="card-header">Category : {{ article.category.name }}</h5>
        <div class="card-body">
            <p class="card-text">{{ article.content }}</p>
        </div>
    </div>

    <a href="{{ path('app_index') }}">
        <button type="button" class="btn btn-secondary">Back to homepage.</button>
    </a>

{% endblock %}